body{
    background-color: #130101;
}
.head{
    background-color: #130101;
    color: #FFE788;
    display: flex;
    justify-content: space-around;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -30px;
    font-size: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "Piazzolla", serif;
    width: 100%;
}
.name{
    margin-left: 100px;
    display: flex;
    gap: 20px;
}
.link{
    color: #FFE788;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    border: none;
    font-family: "Piazzolla", serif;
    font-size: 17px;
}
.link::after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    background-color: #FFE788;
    transition: width 0.15s ease-in-out;
}
.link:hover:after, link:focus:after{
    width: 100%;
    
}
.navigaciya{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 400px;
}
.account{
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.uslugi{
    background-color: #0B0000;
}
.verh{
    padding-top: 60px;
    display: flex;
    gap: 120px;
    justify-content: center;
}
.niz{
    padding-top: 100px;
    display: flex;
    gap: 120px;
    justify-content: center;
    padding-bottom: 100px;
}
.verh .flip-inner,
.niz .flip-inner {
    position: relative;
    width: 230px;
    height: 320px;
    perspective: 1000px;
}
.flip-inner {
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}
.flip-inner.flipped {
    transform: rotateY(180deg);
}
.flip-front{
    padding-top: 10px;
    background-color: #271212;
    height: 320px;
    width: 230px;
    color: #FFE788;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flip-front:hover{
    box-shadow: 0px 0px 20px #736429;
}
.flip-front h1{
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: "Piazzolla", serif;
    font-weight: 300;
}
.flip-back{
    padding-top: 10px;
    background-color: #271212;
    height: 320px;
    width: 230px;
    color: #FFE788;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(180deg);
}
.flip-back:hover{
    box-shadow: 0px 0px 20px #736429;
}
.flip-back h1{
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: "Piazzolla", serif;
    font-weight: 300;
}
.flip-back ol{
    margin-top: 0px;
    margin-left: -20px;
    font-size: 12.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flip-front,
.flip-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 320px;
    backface-visibility: hidden;
    border-radius: 15px;
}
.phot{
    padding-top: 5px;
}
.but_more{
    font-size: 12px;
    margin-bottom: -25px;
    height: 20px;
    border-radius: 50px;
    border: 0;
    background-color: #130101;
    color: #FFE788;
    height: 25px;
    width: 80px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.but_more:hover{
    background-color: #736429;
    color: #0B0000;
}
.but_back{
    font-size: 14px;
    height: 20px;
    border-radius: 50px;
    border: 0;
    background-color: #130101;
    color: #FFE788;
    height: 23px;
    width: 85px;
    margin-right: -120px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.but_back:hover{
    background-color: #736429;
    color: #0B0000;
}
.pod{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#diag{
    margin-top: -3px;
    font-size: 19px;
    text-align: center;
    line-height: 18px;
}
#cnop2{
    margin-top: 17px;
}
#cnop3{
    margin-top: 19px;
}
#cnop4{
    margin-top: 16px;
}
#cnop5{
    margin-top: 66px;
}
footer{
    margin-top: -20px;
    height: 0px;
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-left: 7px;
    color: #635A5A;
}
footer p{
    padding-bottom: 30px;
}

/* --- МОДАЛЬНОЕ ОКНО --- */

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* Контейнер модалки */
.modal-content {
    background: #0B0000;
    color: #FFE788;
    width: 320px;
    padding: 25px;
    margin: 15% auto;
    border-radius: 15px;
    text-align: center;
    font-family: "Piazzolla", serif;
    border: 1px solid #3a2f1a;
    box-shadow: 0 0 20px rgba(255, 240, 150, 0.2);
}

/* Крестик */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #FFE788;
}

/* Кнопки */
.modal-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background: #736429;
    color: white;
    font-size: 16px;
    transition: 0.2s ease;
}

.modal-btn:hover {
    background: #413814;
    transform: scale(1.05);
}
