body{
    background-color: #130101;
}
.head{
    background-color: #130101;
    color: #FFE788;
    display: flex;
    justify-content: space-around;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -30px;
    font-size: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "Piazzolla", serif;
    width: 100%;
}
.name{
    margin-left: 100px;
    display: flex;
    gap: 20px;
}
.link{
    color: #FFE788;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    border: none;
    font-family: "Piazzolla", serif;
    font-size: 17px;
}
.link::after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    background-color: #FFE788;
    transition: width 0.15s ease-in-out;
}
.link:hover:after, link:focus:after{
    width: 100%;
    
}
.navigaciya{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 400px;
}
.account{
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.yana{
    display: flex;
    justify-content: space-between;
}
.yana img{
    margin-top: -25px;
}
.blok{
    background-color: #473D24;
    height: 470px;
    width: 100%;
    margin-right: -421px;
    color: #D3C9B0;
    padding-left: 150px;
    padding-top: 80px;
}
.blok h1{
    font-family: "Piazzolla", serif;
    font-weight: 400;
    margin-top: -10px;
    margin-left: -60px;
    font-size: 45px;
}
.blok p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 36px;
    margin-left: -60px;
    font-size: 22px;
}
.consuit{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.text{
    background-color: #352A1F;
    color: #D3C9B0;
    width: 100%;
    margin-left: -510px;
    height: 590px;
    margin-top: -25px;
}
.text p{
    padding-top: 70px;
    padding-left: 570px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 35px;
}
.phot{
    margin-top: -60px;
    z-index: 10;
}
footer{
    margin-top: -50px;
    height: 0px;
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-left: 7px;
    color: #635A5A;
}
footer p{
    padding-bottom: 30px;
}

/* --- МОДАЛЬНОЕ ОКНО --- */

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* Контейнер модалки */
.modal-content {
    background: #0B0000;
    color: #FFE788;
    width: 320px;
    padding: 25px;
    margin: 15% auto;
    border-radius: 15px;
    text-align: center;
    font-family: "Piazzolla", serif;
    border: 1px solid #3a2f1a;
    box-shadow: 0 0 20px rgba(255, 240, 150, 0.2);
}

/* Крестик */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #FFE788;
}

/* Кнопки */
.modal-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background: #736429;
    color: white;
    font-size: 16px;
    transition: 0.2s ease;
}

.modal-btn:hover {
    background: #413814;
    transform: scale(1.05);
}
